&-action-plan {
  font-size: $smallCopy;
  padding: $spacing*2;
  line-height: 1.6;
  +above(m) {
    padding: 0 $spacing*2;;
  }
  +above(l) {
    margin-top: $vspacing*16;
  }
  .u-btn {
    font-size: $smallCopy;
    margin-top: $vspacing*2;
  }
}
