&-article-list {
  &__summary {
    cf();
    padding: $spacing;
    margin-bottom: $vspacing*2;

    h1 {
      font-size: $mantle;
      margin-bottom: $vspacing;
      a {
        color: $primary;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      ff-body();
    }

    ul {
      list-style: disc;
      margin-left: $hspacing*3;
      li {
        margin-bottom: $vspacing;
      }
    }

    .u-secondary {
      padding: $spacing;
      background-color: $boxbg;
      h2 {
        margin-bottom: $vspacing;
      }
    }
  }
}
