&-cost {

  h2 {
    span {
      font-size: $smallCopy;
      display:inline-block;
      margin-left:$hspacing; 
    }
  }
  p {
    font-size: $smallCopy;
    margin-bottom: $smallCopy;
  }

  &__scale {
    cf();
    .u-primary & {
      span(1/3);

    }
    .u-secondary & {
      span(1);
    }
    margin-bottom: $vspacing;
    img {
      width: 100%;
      height: auto;
    }
    &__label {
      span(1/2);
      &:last-of-type {
        text-align: right;
      }
    }
  }
  &__info {
    clear:both;
  }
}
