&-more-info {
  margin-top: $vspacing*4;
  padding: $vspacing*4 $hspacing*2 $vspacing*2;
  li {
    display: table;
    margin-bottom: $vspacing*2;
    line-height: $lineHeight*1.5;
    i {
      display: table-cell;
      padding-right: $hspacing;
    }
    div {
      display: table-cell;
    }
  }
  &__pros {
    i {
      color: #65C001;
    }
  }
  &__cons {
    i {
      color: #D0021B;
    }
  }
}
