&-proscons {
  border: 1px solid lighten($dark, 30%);
  border-radius: $brad;
  padding: $vspacing*2 $hspacing*2;
  li {
    display: table;
    margin-bottom: $vspacing*2;
    font-size: $smallCopy;
    line-height: $lineHeight*1.5;
    i {
      display: table-cell;
      padding-right: $hspacing;
      color: lighten($dark, 30%);
    }
    div {
      display: table-cell;
    }
  }
}
