&-who-is-involved {
  clear:both;
  text-align: center;
  +above(l) {
    text-align: left;
  }
  padding: $spacing;
  li {
    span(1/2, cycle: 2);
    position: relative;
    height: $vspacing*4;
    background-size: contain;
    background-repeat: no-repeat;
    line-height: $lineHeight*2.5;
    padding-left: $hspacing*5;
    &.parentguardian {
      background-image: url(/static/images/attending-icons/parent.svg);
    }
    &.mediator {
      background-image: url(/static/images/attending-icons/mediator.svg);
    }
    &.lawyersolicitor {
      background-image: url(/static/images/attending-icons/lawyer_solicitor.svg);
    }
    &.judgecourt {
      background-image: url(/static/images/attending-icons/judge_court.svg);
    }
    .lozenge {
      position: absolute;
      bottom: -($vspacing);
      left: $hspacing*2.5;
      background-color: $light;
      width: 20px;
      height: 20px;
      line-height: 1;
      text-align: center;
      border-radius: 100%;
      font-size: $smallCopy;
      font-weight: bold;
      &:before {
        content: "x";
      }
    }
  }

}
