@font-face {
	font-family: 'VAG-Rounded-light';
	src: url('/static/fonts/VAG-Rounded-Std-Light_47298.eot');
	src: local('☺'), url('/static/fonts/VAG-Rounded-Std-Light_47298.woff') format('woff'), url('/static/fonts/VAG-Rounded-Std-Light_47298.ttf') format('truetype'), url('/static/fonts/VAG-Rounded-Std-Light_47298.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'VAG-Rounded-bold';
	src: url('/static/fonts/VAGRoundedStd-Bold.eot');
	src: local('☺'), url('/static/fonts/VAGRoundedStd-Bold.woff') format('woff'), url('/static/fonts/VAGRoundedStd-Bold.ttf') format('truetype'), url('/static/fonts/VAGRoundedStd-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
