<% include components/header.ejs %>
<div class="full divider">
  <div class="c c-headed-text u-primary">
    <h1>Your options for making child arrangements</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium voluptatum, aperiam dignissimos nihil quo sed blanditiis molestias ratione, totam debitis commodi! Nihil error, enim accusantium quia doloribus ullam, quisquam mollitia!</p>
  </div>
  <div class="c c-quick-links u-secondary">
    <ul>
      <li><a href="">Worried about your child's safety?</a></li>
      <li><a href="">Am I eligable for legal aid?</a></li>
      <li><a href="">Make a plan for your child arrangements</a></li>
      <li><a href="">Your rights and responsibilities as a parent</a></li>
    </ul>
  </div>
</div>
<div class="full">
   <ul class="c c-article-list">
     <li>
       <section class="c-article-list__summary divider">
         <div class="u-primary">
           <h1><a href="court.html">Court</a></h1>
           <p>You can use the help of a mediator if you can’t agree on some issues. Mediators won’t take sides or give you legal advice but will show all the options available to you.</p>
           <p>Using a mediator is quicker and less stressful than going to court.</p>
           <a href="" class="more">Find out more about court</a>
         </div>
         <aside class="u-secondary">
           <h2>Pros:</h2>
           <ul>
             <li>Valid point</li>
             <li>Interesting and insightful argument</li>
             <li>Useful idea</li>
           </ul>
         </aside>
       </section>
     </li>
     <li>
       <section class="c-article-list__summary divider">
         <div class="u-primary">
           <h1><a href="mediation.html">Mediation</a></h1>
           <p>You can use the help of a mediator if you can’t agree on some issues. Mediators won’t take sides or give you legal advice but will show all the options available to you.</p>
           <p>Using a mediator is quicker and less stressful than going to court.</p>
           <a href="" class="more">Find out more about mediation</a>
         </div>
         <aside class="u-secondary">
           <h2>Pros:</h2>
           <ul>
             <li>Valid point</li>
             <li>Interesting and insightful argument</li>
             <li>Useful idea</li>
           </ul>
         </aside>
       </section>
     </li>
     <li>
       <section class="c-article-list__summary divider">
         <div class="u-primary">
           <h1><a href="collaborative-law.html">Collaborative Law</a></h1>
           <p>You can use the help of a mediator if you can’t agree on some issues. Mediators won’t take sides or give you legal advice but will show all the options available to you.</p>
           <p>Using a mediator is quicker and less stressful than going to court.</p>
           <a href="" class="more">Find out more about collaborative law</a>
         </div>
         <aside class="u-secondary">
           <h2>Pros:</h2>
           <ul>
             <li>Valid point</li>
             <li>Interesting and insightful argument</li>
             <li>Useful idea</li>
           </ul>
         </aside>
       </section>
     </li>
     <li>
       <section class="c-article-list__summary divider">
         <div class="u-primary">
           <h1><a href="counselling.html">Counselling</a></h1>
           <p>You can use the help of a mediator if you can’t agree on some issues. Mediators won’t take sides or give you legal advice but will show all the options available to you.</p>
           <p>Using a mediator is quicker and less stressful than going to court.</p>
           <a href="" class="more">Find out more about counselling</a>
         </div>
         <aside class="u-secondary">
           <h2>Pros:</h2>
           <ul>
             <li>Valid point</li>
             <li>Interesting and insightful argument</li>
             <li>Useful idea</li>
           </ul>
         </aside>
       </section>
     </li>
   </ul>
</div>
<% include components/footer.ejs %>
