<!DOCTYPE html>
<html lang="en">
<head>
  <%
    var pageTitle = (type === 'index') ? content.title : page.title;
  %>
  <meta charset="UTF-8">
  <meta name="content-type" content="text/html">
  <meta name="X-UI-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> <%= pageTitle %> | Go Compare</title>
  <link rel="stylesheet" href="/static/styles/core.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="wrapper">
