<div class="c c-cost">
  <h2>Cost<span>(per person):</span></h2>
  <div class="c-cost__scale">
    <img src="<%= page.cost.image_link %>" alt="The scale can range from quite low to very high"/>
    <span class="c-cost__scale__label">0</span>
    <span class="c-cost__scale__label">&pound;100k</span>
  </div>
  <div class="c-cost__info">
    <%- page.cost.info %>
  </div>
</div>
