    </div> <%# wrapper %>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
    <script src="static/scripts/process-chart.js" charset="utf-8"></script>
    <script src="static/scripts/case-studies.js" charset="utf-8"></script>
    <script src="static/scripts/video-player.js" charset="utf-8"></script>
  </body>
</html>
