<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="content-type" content="text/html">
  <meta name="X-UI-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Go Compare</title>
  <link rel="stylesheet" href="/static/styles/core.min.css">
</head>
<body>
  <div class="wrapper">
