<div class="c-proscons">
  <% if (page.pros) { %>
  <div class="c-proscons__pros">
    <h2>Pros:</h2>
    <ul>
      <% page.pros.forEach(function(pro, i) { %>
        <li><i class="fa fa-check"></i><div><%- pro.text %></div></li>
      <% }) %>
    </ul>
  </div>
  <% } if (page.cons) { %>
  <div class="c-proscons__cons">
    <h2>Cons:</h2>
    <ul>
      <% page.cons.forEach(function(con, i) { %>
        <li><i class="fa fa-close"></i><div><%- con.text %></div></li>
      <% }) %>
    </ul>
  </div>
<% } %>
</div>
