<div class="c c-video-player">
  <h2><%= page.video.title %></h2>
  <div class="c-video-player__container c-video-player__lightbox">
    <img data-youtube="<%= page.video.youtube_code %>" src="<%= page.video.thumbnail %>" alt="<%= page.video.title %>">
  </div>
</div>
